*{
  font-family: 'Poppins', sans-serif;
}
#TOP{
    background-color: aliceblue;
    padding: 1em;
    text-align: center;
}
.MyLine{
    color: green;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav{
  display: flex;
  padding: 0% 8%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: aliceblue;
}

.tab{
  padding: 20px;
}
.tab.active {
  background-color: white;
}
.tab:hover {
  background-color: azure;
}

.homeimage {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}